@using Restaurants.Models;
@model List<Restaurants.Models.Cuisine>;

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Cuisines</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<h1>Cuisines</h1>

@if (@Model.Count == 0)
{
  <h3>No categories have been added yet!</h3>
} 

@foreach (Cuisine cuisine in Model)
{
  <li>@Html.ActionLink($"{cuisine.Name}", "Details", new { id = cuisine.CuisineId })</li>
}

<p>@Html.ActionLink("Add new cuisine", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>